@page "/RecuperarContra"
@inject NavigationManager NavigationManager
@inject EmailService EmailService

<head>
    <link rel="stylesheet" href="css/DiandaStyle.css" />
</head>

<div class="text-center d-flex justify-content-center align-items-center">
    <img src="images/robot.png" style="width: 300px; height: 300px;" />
</div>

<div class="d-flex justify-content-center align-items-center" style="width: 100%; height: 55vh;">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="contenedor">
                    <RadzenCard>
                        <RadzenText class="mb-3" TextStyle="TextStyle.H4" Style="color: #000000;">Te enviaremos un correo para restablecer tu contraseña ;)</RadzenText>
                        <div class="mb-3">
                            <RadzenTextBox Style="width:400px;" @bind-Value="@toEmail" Placeholder="Introduce tu correo electrónico" />
                            <button type="button" class="btn btn-secondary" @onclick="EnviarCorreo">Enviar</button>
                        </div>

                    </RadzenCard>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private string toEmail;
    private string subject= "Recuperacion de contraseña";
    private string body;

    private async Task EnviarCorreo()
    {
        try
        {
            body = "Su nueva contraseña es:";
            // Enviar correo electrónico utilizando el servicio de EmailService
            await EmailService.SendEmailAsync(toEmail, subject, body);
            // Mostrar mensaje de éxito o redirigir a otra página
            // Puedes manejar la lógica de éxito aquí, como mostrar un mensaje o redirigir a otra página.
            Console.WriteLine("Correo electrónico enviado con éxito");
        }
        catch (Exception ex)
        {
            // Manejar errores de envío de correo electrónico
            Console.WriteLine($"Error al enviar correo electrónico: {ex.Message}");
        }
    }
}
