@page "/Perfil"

<head>
    <link rel="stylesheet" href="css/DiandaStyle.css" />
</head>

<div style="display: flex; justify-content: center; align-items: center; height: 50vw; max-width: 100%; width:100%; ">
    <BlazorServerAppCorreoPrueba.Componentes.CardPerfil />
</div>

@code {
    
}
