@page "/resultado/{resultado}"

<div class="contenedor">
    <RadzenCard Variant="Variant.Text" Class="rz-my-12 rz-mx-auto" Style="max-width: 650px">
        <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Start" Gap="1rem" Class="rz-p-4">
            <RadzenImage src="images/robot.png" Style="width: 100px; height: 100px;" />
            <RadzenStack Gap="0">
                <RadzenText TextStyle="TextStyle.H3" Style="color: #ffffff;">Excelente!<RadzenIcon Icon="offline_pin" IconColor="#ffb17a;" /></RadzenText>
                <RadzenText TextStyle="TextStyle.H6" Style="color: #ffffff;"><b>Tu estilo de aprendizaje dominante es @resultado</b></RadzenText>
            </RadzenStack>
        </RadzenStack>
    </RadzenCard>
</div>

<div class="d-flex flex-column justify-content-center align-items-center" style="height: 70vh;">

    <div class="text-center mb-4">
        <RadzenText TextStyle="TextStyle.H6" Style="color: #ffffff;">A continuación, una lista de guías que pueden ayudarte:</RadzenText>
    </div>
    <div class="card-container">
        <RadzenCard Variant="Variant.Filled" Class="rz-my-12 rz-mx-auto" Style="background-color: #ffb17a; max-width: 650px">
            <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Start" Gap="1rem" Class="rz-p-4">
                <RadzenImage src="images/persona1.png" Style="width: 100px; height: 100px;" />
                <RadzenStack Gap="0">
                    <RadzenText TextStyle="TextStyle.H5" Style="color: #ffffff;">Nombre</RadzenText>
                    <RadzenButton Text="Contactar" Icon="find_in_page"
                                  Style="background-color: #ffb17a; color: #000000;" TextStyle="color: #ffffff;" />
                </RadzenStack>
            </RadzenStack>
        </RadzenCard>
        <RadzenCard Variant="Variant.Filled" Class="rz-my-12 rz-mx-auto" Style="background-color: #ffb17a; max-width: 650px">
            <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Start" Gap="1rem" Class="rz-p-4">
                <RadzenImage src="images/persona2.png" Style="width: 100px; height: 100px;" />
                <RadzenStack Gap="0">
                    <RadzenText TextStyle="TextStyle.H5" Style="color: #ffffff;">Nombre</RadzenText>
                    <RadzenButton Text="Contactar" Icon="find_in_page"
                                  Style="background-color: #ffb17a; color: #000000;" TextStyle="color: #ffffff;" />
                </RadzenStack>
            </RadzenStack>
        </RadzenCard>
        <RadzenCard Variant="Variant.Filled" Class="rz-my-12 rz-mx-auto" Style="background-color: #ffb17a; max-width: 650px">
            <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Start" Gap="1rem" Class="rz-p-4">
                <RadzenImage src="images/persona3.png" Style="width: 100px; height: 100px;" />
                <RadzenStack Gap="0">
                    <RadzenText TextStyle="TextStyle.H5" Style="color: #ffffff;">Nombre</RadzenText>
                    <RadzenButton Text="Contactar" Icon="find_in_page"
                                  Style="background-color: #ffb17a; color: #000000;" TextStyle="color: #ffffff;" />
                </RadzenStack>
            </RadzenStack>
        </RadzenCard>
    </div>
</div>

@code {
    [Parameter]
    public string resultado { get; set; }
    
}