@inherits LayoutComponentBase
@inject NavigationManager NavigationManager


@if (!EsPaginaLogin(NavigationManager.Uri))
{
    <div class="sidebar">
        <NavMenu />
    </div>
}

<div class="main">

    <div class="content px-4">
        @Body
    </div>

</div>


@code {
    private bool EsPaginaLogin(string uri)
    {
        // Comprueba si la URL actual corresponde a la página de login
        return uri.Contains("/Registro") || uri.Contains("/RecuperarContra") || uri.Contains("/Login");
    }
}
